version: "3.9"

services:
  db:
    image: postgres:15
    container_name: postgres_db
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - ./database/init.sql:/docker-entrypoint-initdb.d/init.sql
    ports:
      - "5432:5432"

  adminer:
    image: adminer
    restart: always
    ports:
      - 8080:8080

  auth-service:
    build: ./server/auth-service
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - db

  user-service:
    build: ./server/user-service
    ports:
      - "8001:8001"
    env_file:
      - .env
    depends_on:
      - db
